@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
.flex-div{
    display: flex;
    position: relative;
    justify-content: center;

}
h1{
    text-align: center;
    color: whitesmoke;
    font-family: "Poppins",sans-serif;
    
    color: transparent;
    
}
.circleDivs-container{
    position: relative;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background: transparent;
    /* background: rgb(22, 22, 22); */
}
.circle{
      position: relative;
      
      /* background-color: yellow; */
           width: 480px;
            height: 520px;
            margin:50px 140px 70px;

              align-items: center;
              align-content: center;
              flex-wrap: wrap;
              justify-content: center;
              border-radius: 15px;
              box-shadow: inset 5px 5px 5px rgba(0,0,0,0.3),
                          inset -5px -5px 15px rgba(255,255,255,0.2),
                          5px 5px 15px rgba(0,0,0,0.1),
                          -5px -5px 15px rgba(255, 255, 255, 0.2);
              

}
.circleDivs-container .circle .Circle-contents{
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 90%;
    justify-content: center;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    /* color: black; */
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    background: transparent;
    /* background:black; */
    transition: 0.5s;
}

.circleDivs-container .circle .Circle-contents:hover{
    transform: translatey(-50px);
    box-shadow: 0 40px 70px rgba(0,0,0,0.5);
}

.content{
    /* background-color: black; */
    text-align: center;
    color: white;
}
.circular-image{
   
    margin-left: 25%; 
   
    height: 45%;
    width: 45%;
    border-radius: 50%;
    background: white;
    justify-content: center;
}
.order-button{
    margin-top: 50px;
    background: rgb(248, 232, 161);
    width: 100px;
    height: 30px;
    border-radius:6px;
}
.content h2{
    margin-top: 14px;
}.content p{
    margin-top: 20px;
}


@media (max-width:1086px){
    .flex-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:500px){
    .circle{
        width:100%
    }
    .circular-image{
        height: 160px;
        width: 160px;
        border-radius: 50%;

    }

}
